.head {
    font-family: var(--raleway);
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.head__nav {
    text-align: center;
}

.head__listItems {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    color: var(--texto-normal);
}

.head__logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.head__logo {
    display: inline-block;
    margin-right: .7rem;
    margin-left: 0;
    margin-bottom: 1.25rem;
}